.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: rgb(218, 226, 248);
  background: linear-gradient(
    90deg,
    rgba(218, 226, 248, 1) 0%,
    rgba(219, 225, 242, 1) 100%
  );
}

.hero_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.hero_main h1 {
  font-size: 12vh;
  font-weight: 400;
  line-height: 12vh;
}

.hero_main .hero_top,
.hero_main .hero_bottom {
  text-align: center;
}

.hero_main .hero_center {
  padding-left: 10%;
}

.hero_main span {
  color: #964734;
  font-weight: 500;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .hero_main h1 {
    font-size: 5vh;
    line-height: 6vh;
  }

  .hero_main .hero_top,
  .hero_main .hero_bottom {
    text-align: left;
  }

  .hero_main .hero_center {
    padding-left: 0;
  }
}
