.reveal_text {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: bold;
  color: #fafafa;
  filter: drop-shadow(0 0 0.06rem #444);
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .reveal_text {
    font-size: 3rem;
    line-height: 4rem;
  }
}
