.reveal_container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.reveal {
  width: 80%;
}

.reveal-text {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: bold;
  color: #f0f0f0;
  filter: drop-shadow(0 0 0.06rem #444);
}

/* .reveal_main {
  overflow: hidden;
  padding-top: 1rem;
}

.reveal_main h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  line-height: 4rem;
} */
