.WorkshopDetails_wrapper {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.WorkshopDetails_wrapper .banner {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.WorkshopDetails_wrapper .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.WorkshopDetails_wrapper .learn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.learn h3 {
  text-align: left;
  font-size: 2rem;
  color: #888;
}

.WorkshopDetails_wrapper .learn .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.WorkshopDetails_wrapper .learn .learn_card {
  width: 30%;
  min-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.WorkshopDetails_wrapper .learn_card .number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #888;
}

.instructor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructor .left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  justify-content: space-between;
}

.instructor .left h3 {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  color: #888;
}

.instructor .left .instr_personal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.instructor .right {
  position: relative;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.instructor .right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.instructor .right .box {
  position: absolute;
  width: max-content;
  padding: 1rem;
  border: 1px solid blueviolet;
  border-radius: 0.5rem;
  background-color: white;
  color: blueviolet;
  font-size: 1.25rem;
  font-weight: 600;
}

.instructor .right .years_box {
  top: 60%;
  left: 5%;
}

.instructor .right .students_box {
  top: 20%;
  right: 5%;
}

.instructor a {
  width: 150px;
  text-align: center;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}
