footer {
  position: relative;
  background: var(--dark-bg);
  width: 100%;
}

.footer_container {
  width: 100%;
  max-width: 1024px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
}

.footer_title {
  font-size: 2rem;
  color: var(--off-white);
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
}

.footer_subtitle {
  font-size: 1rem;
  color: var(--off-white);
}

.footer_links {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--off-white);
}

.footer_links ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer_links a {
  padding: 0.1rem 0.5rem;
  color: var(--off-dark);
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer_links a:hover {
  border-radius: 1rem;
  background-color: var(--off-dark);
  color: var(--off-white);
}

.footer_social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}

.footer_social i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: var(--off-white);
  border: 1px solid var(--off-white);
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.footer_social i:hover {
  transform: scale(1.1);
}

.footer hr {
  border: 1px solid #999;
}

.footer_bottom {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  font-weight: 200;
  font-size: 0.9rem;
}

.footer_bottom .terms,
.footer_bottom .privacy {
  cursor: pointer;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 5.5vh;
  }

  .footer_container {
    gap: 0.25rem;
    padding-top: 1rem;
    flex-direction: column;
  }

  .footer_title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: 0.5;
  }

  .footer_subtitle {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.9;
  }

  .footer_links {
    padding: 1rem 0;
    background-color: inherit;
    z-index: 2;
  }

  .footer_links ul {
    gap: 0.25rem;
  }

  .footer_links a {
    color: var(--off-white);
  }

  .footer_social {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .footer_social i {
    height: 35px;
    width: 35px;
  }

  .footer_bottom {
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 1rem;
  }

  .footer_bottom .copyright {
    width: 100%;
    text-align: center;
  }
}
