section.scrollCards {
  overflow: unset;
}

.scrollCards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.scrollCards .sectionHeader {
  position: sticky;
  top: 12vh;
}

.scrollCards .scrollCard_item {
  position: sticky;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow: hidden;
}

.scrollCards .scrollCard_item:nth-child(1) {
  top: 20vh;
}

.scrollCards .scrollCard_item:nth-child(2) {
  top: 33vh;
}

.scrollCards .scrollCard_item:nth-child(3) {
  top: 46vh;
}

.scrollCards .scrollCard_item:nth-child(4) {
  top: 59vh;
}

.scrollCards .scrollCard_item:nth-child(5) {
  top: 72vh;
}

.scrollCards .scrollCard_item:nth-child(6) {
  top: 85vh;
}

.scrollCard_item .card_body {
  position: relative;
  padding: 3vh 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.scrollCard_item .card_number_title {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.scrollCard_item .card_number {
  font-size: 5rem;
  color: #888;
}

.scrollCard_item .card_title {
  font-size: 3rem;
  line-height: 4rem;
  color: #333;
}

.scrollCard_item p {
  font-size: 1.25rem;
  line-height: 1.25rem;
  width: 80%;
  text-align: center;
}

.scrollCard_item .card_btn {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fafafa;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #333;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .scrollCards .sectionHeader {
    font-size: 0.75rem;
  }

  .scrollCards {
    gap: 1rem;
  }

  .scrollCard_item .card_body {
    padding: 1rem;
    gap: 1rem;
  }

  .scrollCard_item .card_number_title {
    height: 5vh;
  }

  .scrollCards .scrollCard_item:nth-child(1) {
    top: 20vh;
  }

  .scrollCards .scrollCard_item:nth-child(2) {
    top: 28vh;
  }

  .scrollCards .scrollCard_item:nth-child(3) {
    top: 36vh;
  }

  .scrollCards .scrollCard_item:nth-child(4) {
    top: 44vh;
  }

  .scrollCards .scrollCard_item:nth-child(5) {
    top: 52vh;
  }

  .scrollCards .scrollCard_item:nth-child(6) {
    top: 60vh;
  }

  .scrollCard_item .card_number {
    font-size: 2.5rem;
  }

  .scrollCard_item .card_title {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    text-align: right;
  }

  .scrollCard_item p {
    font-size: 0.9rem;
    line-height: 1rem;
    width: 100%;
  }

  .scrollCard_item .card_btn {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.75rem 2rem;
  }
}
